/*
* {
  border: 1px solid grey;
}
*/
body {
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto; 
}

h1,h2,h3,h4,h5,h6 {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 300;
  color: #888;
  margin: 2rem 0 1rem 0;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 300;
  color: #111;
/*
  margin: 2rem 0 1rem 0;
*/
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}



/* Flex Menu */
.container {
    display: none;
    flex-wrap: wrap;
  }

.container div {
  font-weight: 400;
  padding: .5em;
  padding-right: 1em;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol", Sans-serif;
  font-size: 1.2rem;
  color: #777;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}



/* Pure CSS side menu file:///Users/nick2/Documents/GitHub/DECO1400/purecss/pure_css_demo.html */


a {
  color: #3b8bba;
  text-decoration: none;
}

h1.title {
  font-size: 3rem;
}






/* Chevrons
https://codepen.io/jonneal/pen/kptBs
*/

.chevron::before {
  color: #888;
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}